<div class="center asu-text col-sm-12">
	<p2>Before you go ...............<%= session[:team] %></p2>
</div>
<div class="col-sm-12 img-fluid image-test center">
	<img src='https://ci.memecdn.com/7377432.jpg'>
</div>
<div class="center col-sm-12">
  <%= link_to "Return to the home page", root_path, class: "btn btn-lg btn-custom" %>
</div>