<div class="center asu-text col-sm-12">
	<p2>Before you go ...<%= session[:team] %></p2>
</div>
<div class="center jumbotron jumbotron-haha">
</div>
<div class="center col-sm-12">
  <%= link_to "Return to the home page", root_path, class: "btn btn-lg btn-custom" %>
</div>