<%= render 'layouts/navigation2' %>
<div class="center asu-text col-sm-12">
	<p2>RIP McKinnon ☠</p2>
</div>
<div class="col-sm-12 img-fluid image-test center">
	<img src='https://ci.memecdn.com/7377432.jpg' height='400'>
	<img src='https://i.imgur.com/vPuPUbt.png' height='400'>
</div>
<div class="center col-sm-12">
  <%= link_to "Home Page", root_path, class: "btn btn-lg btn-custom" %>
  <%= link_to "To the Timer", timer_path, class: "btn btn-lg btn-custom" %>
  <%= link_to "To the Teams", timer_path, class: "btn btn-lg btn-custom" %>
</div>