<%= render 'layouts/navigation' %>
<div class="col-sm-12 center asu-text">
	<p2>Welcome to the Sun Devil Invitational Fantasy Football League!!!</p2>
</div>

<div class="image-test center">
	<img src='http://flurrysports.org/wp-content/uploads/2018/06/NFL-Stars.jpg' height='400'>
</div>