
  <%= render 'layouts/navigation' %>
<div class="col-sm-12 center asu-text">
	<p2>Welcome to the Sun Devil Invitational Fantasy Football League</p2>
</div>

<div class="image-test center">
	<img src='http://s.nflcdn.com/static/content/public/static/img/fantasy/cp/browser_hero_1280x720_players.jpg'>
</div>