<%= render 'layouts/navigation' %>
<div class="center asu-text col-sm-12">
	<p2>Welcome to the Sun Devil Invitational Fantasy Football League</p2>
</div>

<div class="center jumbotron-home jumbotron-fluid">
</div>