
<div class="center asu-text">
	<h1 class="center"> A special message for <%= session[:team_name] %></h1>
<div class="center jumbotron-landing">
</div>
<div class="center">
  <%= link_to "Return to the home page", haha_path, class: "btn btn-lg btn-custom" %>
</div>


