
<div class="center asu-text col-sm-12">
	<h1>A special message for <%= @team[:playerName] %></h1>
</div>
<div class="center jumbotron jumbotron-landing col-sm-12">
</div>
<div class="center col-sm-12">
  <%= link_to "Return to the home page ", haha_path, class: "btn btn-lg btn-custom" %>
</div>


