
<div class="center asu-text col-sm-12">
	<h1>A special message for <%= @team[:playerName] %></h1>
</div>
<div class="col-sm-12 img-fluid image-test center">
	<img src='https://i.imgur.com/F6LW6jE.png'>
</div>
<div class="center col-sm-12">
  <%= link_to "Return to the home page ", haha_path, class: "btn btn-lg btn-custom" %>
</div>


