<%= render 'layouts/navigation3' %>
<div class="center jumbotron jumbotron-oops">
	<h1>Oops, it looks like you don't belong here.</h1>
</div>
<div class="center col-sm-12">
  <%= link_to "Return to the home page", root_path, class: "btn btn-lg btn-custom" %>
</div>


