<%= render 'layouts/navigation2' %>
<div class="center asu-text col-sm-12">
	<p2>CountDown to Kick-Off<%= session[:team] %></p2>
</div>
<div id="circles" data-date="2018-09-06 20:20:00"></div>
<div class="center col-sm-12">
  <%= link_to "Continue", landing_path, class: "btn btn-lg btn-custom" %>
</div>