@import "bootstrap";

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 2.3em;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #800000;
}

#fork {
  margin-right: 10px;
}

.asu-text {
  font-size: 1.7em;
  color: #800000;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.navbar-custom {
	background-color: #800000;
}

.jumbotron-home {
  background-image: url("http://s.nflcdn.com/static/content/public/static/img/fantasy/cp/browser_hero_1280x720_players.jpg");;
  background-size: cover;
  height: 600px;
  margin-top: 5px;
}

.jumbotron-landing {
  background-image: url('https://imgur.com/uFJwdBU.png');
  background-size: cover;
  height: 600px;
  width: 1600px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.jumbotron-oops {
  margin-top: 40px;
  text-align: center;
}

.jumbotron-haha {
  background-image: url('https://ci.memecdn.com/7377432.jpg');
  height: 350px;
  width: 1000px;
  margin: 10px auto;
}


.form-custom {
}

.btn-custom {
  background-color: #800000;
  color: white;
  font-weight: bold;
}

.btn-custom:hover {
  color: #FFD700;
}

.btn-submit {
  background-color: white;
  color: #800000;
  font-weight: bold;
  margin-left: 5px;
}

.btn-submit:hover {
  background-color: #FFD700;
  color: white;
}

