<nav class="navbar navbar-expand-sm navbar-custom justify-content-between"> 
  <nav class="navbar">
    <img id="fork" src="https://i.redd.it/odmx4dqcaory.jpg" width="60" height="60" alt="">
    </span>
    <span id="logo" class="navbar-brand mb-0 h1">S.D.I.F.F.L.</span>
  </nav>
  <nav class="navbar">
    <span id="logo" class="navbar-brand mb-0 h1">	<h1>Team: <%= @team[:playerName] %></h1></span>
  </nav>   
</nav>